//全体で使用している黒ボタン/
.simple_square_btn1 {
  width: 180px;
  height: 44px;
  // margin: 0.8em;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #31b2d5;
  border-radius: 30px;
}
.simple_square_btn1:hover {
  opacity: 0.8;
  cursor: pointer;
  text-decoration: none;
  border-radius: 30px;
}

.simple_square_btn2 {
  width: 80%;
  height: 44px;
  // margin: 0.8em;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #31b2d5;
  border-radius: 30px;
}
.simple_square_btn2:hover {
  opacity: 0.8;
  cursor: pointer;
  text-decoration: none;
  border-radius: 30px;
}
