figure {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;

  // 天地中央揃え
  .ogp-img {
    width: 600px;
  }
}

.all-text-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  p {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
  }
  .project-text1 {
    margin-top: 12px;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
  }
  .project-text2 {
    margin-top: 12px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
  }

  .sdgs-text {
    margin-top: 6px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
  }

  .send-text {
    text-align: center;
  }

  .bt-tweet {
    width: 200px;
  }

  .bt-mini {
    width: 130px;
    padding-top: 10px;
  }
}
