// .header {
//   width: 100%;
//   height: 80px;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-items: flex-end;

//   .home-logo {
//     width: 243px;
//     bottom: 10px;
//   }
//   .logout-bt {
//     width: 65px;
//   }
// }

p {
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
}

#oubo {
  font-size: 30px;
  color: red;
  font-weight: bold;
}

table.st-tbl1 {
  text-align: left;
  position: relative;
  border-collapse: collapse;
}
table.st-tbl1 th,
table.st-tbl1 td {
  padding: 1rem;
  border: solid 1px #ddd;
}
table.st-tbl1 th {
  background: white;
  position: sticky;
  top: 0;
}

.scroll {
  /* display: block; */
  overflow-x: scroll;
}

.scroll p {
  width: 100px;
}

#scroll-box {
  overflow: scroll;
  max-height: 500px;
  /* height:100px; */
  /* text-align: center; */
  /* width:80%; */
}

#scroll-box {
  overflow: scroll;
  max-height: 500px;
  /* height:100px; */
  /* text-align: center; */
  /* width:80%; */
}

.button-box {
  padding-top: 40px;
  .bt-new {
    height: 44px;
  }
}

// 新たな応募リストのテーブルデザイン

.oubo-data {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 30px;
  line-height : 35px; 
  ul {
    list-style: none;
    li {
      // text-align: left;
      text-align: center;
      span {
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
}

li img{
  height:22px;
}

/* サイズが500px未満の端末の場合に適用*/

@media screen and (max-width: 500px) {
  #scroll-box {
    width: 320px;
    margin: 0 auto;
  }

  th {
    padding: 0px;
    text-align: center;
  }

  th p {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
  }
}
